body {
  font-family: "Roboto";
  font-size: 1.25rem;
  min-height: 100vh;
  padding: 0 1rem;
}
header {
  display: flex;
  align-items: center;
  height: 10vh;
}

h1 {
  margin-right: auto;
}

form.search {
  border-radius: 2rem;
  border: solid 2px gray;
  display: flex;
  align-items: center;
  padding: 0.1rem;
}

input[type="text"] {
  -webkit-appearance: none;
  border: none;
  border-radius: 2rem 0 0 2rem;
}
input[type="text"]:focus {
  border: none;
}

input[type="submit"] {
  -webkit-appearance: none;
  border: none;
  background-color: gray;
  height: 100%;
  border-radius: 0 2rem 2rem 0;
  padding-left: 0.5rem;
}

main {
  min-height: 85vh;
}

div.search-results, div.all-articles {
  display: flex;
  gap: 1rem;
}

section.article-preview {
  width: 15rem;
  height: 25rem;
  border: solid 2px gray;
  border-radius: 20px;
  padding: 0 1rem 1rem;
  position: relatvie;
}

section.article-preview img {
  height: 6rem;
}

section.article-preview p {
  max-height: 5.75rem;
  overflow-y: hidden;
  margin-bottom: 2rem;
}

section.article-preview p.ellipsis {
  position: absolute;
  top: 22.5rem;
}

footer {
  height: 5vh;
  text-align: center;
}