body {
  font-family: "Roboto";
  font-size: 1.25rem;
  min-height: 100vh;
  padding: 0 1rem;
}
header {
  display: flex;
  align-items: center;
  height: 10vh;
}

h1 {
  margin-right: auto;
}

form.search {
  border-radius: 2rem;
  border: solid 2px gray;
  display: flex;
  align-items: center;
  padding: 0.1rem;
}

input[type="text"] {
  -webkit-appearance: none;
  border: none;
  border-radius: 2rem 0 0 2rem;
}
input[type="text"]:focus {
  border: none;
}

input[type="submit"] {
  -webkit-appearance: none;
  border: none;
  background-color: gray;
  height: 100%;
  border-radius: 0 2rem 2rem 0;
  padding-left: 0.5rem;
}

main {
  min-height: 85vh;
}

div.search-results, div.all-articles {
  display: flex;
  gap: 1rem;
}

section.article_card {
  
}

footer {
  height: 5vh;
  text-align: center;
}