main {
  min-height: 80vh;
}

h2 {
  margin-left: 1rem;
}

div.all-articles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 0 1rem 1rem;
}

div.article-card {
  width: 18rem;
  height: 20rem;
  border: solid 2px var(--navy-blue);
  border-radius: 20px;
  padding: 0.25rem 1rem;
  position: relative;
  overflow-x: hidden;
}
body.dark div.article-card {
  border: solid white 2px;
  color: white;
}

div.article-card h3 {
  font-size: 22px;
  height: 4rem;
}

div.article-card img {
  height: 7rem;
  text-align: center;
}

div.article-card p {
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 1.25rem;
  }
  
  div.all-articles {
    grid-template-columns: 1fr;
    gap: 0.25rem;
  }
}