section.article-preview {
  width: 18rem;
  height: 25rem;
  border: solid 2px gray;
  border-radius: 20px;
  padding: 0 1rem 1rem;
  position: relatvie;
}

section.article-preview h3 {
  font-size: 22px;
  height: 3rem;
  border: solid red 1px;
}

section.article-preview img {
  height: 7rem;
  text-align: center;
}

section.article-preview p {
  height: 4.5rem;
  overflow-y: hidden;
  margin-bottom: 2rem;

  border: solid red 1px;
}

section.article-preview p.author {
  height: fit-content;
  border: solid blue 1px;
}